@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

:root {
  --gray-50: hsl(0, 0%, 90%);
  --gray-100: hsl(0, 0%, 85%);
  --gray-200: hsl(0, 0%, 70%);
  --gray-300: hsl(0, 0%, 60%);
  --gray-400: hsl(0, 0%, 50%);
  --gray-500: hsl(0, 0%, 45%);
  --gray-600: hsl(0, 0%, 35%);
  --gray-700: hsl(0, 0%, 25%);
  --gray-800: hsl(0, 0%, 15%);
  --gray-900: hsl(0, 0%, 10%);
  --gray-950: hsl(0, 0%, 5%);
  --gray-1000: hsl(0, 0%, 2.5%);
  --gray-1000-25: hsl(0, 0%, 2.5%, 25%);
}

/* reset da pag */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: var(--gray-900);
}

img {
  max-width: 100%;
  height: auto;
}

body {
  background: linear-gradient(
    to bottom,
    var(--gray-700),
    var(--gray-800),
    var(--gray-700)
  );
  font-family: "Poppins", sans-serif;
  color: var(--gray-900);
  font-size: 16px;
}

/* Cabecalho */

.cabecalho {
  color: var(--gray-100);
  padding: 10px 20px 30px 20px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
}

.cabecalho__list {
  display: flex;
  gap: 6px;
  align-items: center;
  justify-content: space-evenly;
}

.cabecalho a {
  color: var(--gray-100);
}

.cabecalho__list-item:hover {
  text-decoration: underline;
}

.about-me {
  background-color: var(--gray-500);
  border-radius: 10px;
  width: 100vrh;
  margin: 10px 15px;
  padding: 26px 16px;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 20px;
}

.about-me__text {
  padding: 10px;
  width: 100%;
}

.about-me__title {
  text-align: center;
}

.about-me__text {
  padding: 16px;
  text-align: center;
  text-align: justify;
}

.about-me__image {
  width: 100%;
  text-align: justify;
  text-align: center;
  padding: 10px;
}

.about-me__image img {
  width: 30%;
  border-radius: 5px;
  box-shadow: 5px 5px 3px var(--gray-1000-25);
}

/* projects */

.projects__container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;
  padding: 20px 10px;
}

.projects__container__title {
  font-size: 30px;
  font-weight: bold;
  margin: 20px;
  color: var(--gray-500);
}

.project__container-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

.project {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
  width: 100%;
  margin: 0 20px;
}

.projects__item {
  text-align: justify;
  text-align: center;
  flex: 1 1 calc(50% - 20px);
  box-sizing: border-box;
  background-color: var(--gray-300);
  border-radius: 10px;
  overflow: hidden;
  padding: 20px;
  transition: transform 200ms ease;
}

.projects__item:hover {
  transform: scale(1.02);
}

.projects__item img {
  width: 70%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 15px;
  opacity: 0.6;
}

.projects__item img:hover {
  opacity: 1;
  width: 80%;
}

.projects__title {
  font-size: 1.6rem;
  font-weight: 600;
  margin: 10px 0;
  color: var(--gray-800);
}

.projects__text {
  font-size: 1rem;
  line-height: 1.6;
  color: var(--gray-900);
}

.projects__button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: var(--gray-600);
  font-size: 16px;
  color: var(--gray-100);
  font-weight: 500;
  border-radius: 5px;
}

.projects__button:hover {
  background-color: var(--gray-500);
}
